
### folders
node_modules
.idea
test
scripts
src
.docker.r2g
.circleci
.suman

### matching
*.txt
*.json
*.md
*.ts
*.log
*.yml

### files
.npmignore
.gitignore
yarn.lock
.editorconfig
.dockerignore


